/* Estilo inicial de los iconos */
#cinta #iconos {
    animation: blinkFade 3.5s infinite;
  }

  
  /* Animación de parpadeo */
  @keyframes blinkFade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  