.box {
    width: 300px;
    aspect-ratio: 1;
    clip-path: polygon(93.30% 75.00%, 50.00% 100.00%, 6.70% 75.00%, 6.70% 25.00%, 50.00% 0.00%, 93.30% 25.00%, 93.30% 75.00%, 90.70% 26.50%, 50.00% 3.00%, 9.30% 26.50%, 9.30% 73.50%, 50.00% 97.00%, 90.70% 73.50%, 90.70% 26.50%);
    display: grid;
  }
  
  .box:before {
    content: "";
    background: conic-gradient(#000 30%, #F7C363, #000);
    animation: r 2s ease-in-out infinite;
  }
  
  #logoCarga {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: pulse 2s ease-in-out infinite;
  }
  
  @keyframes r {
    to {
      rotate: 1turn;
      filter: hue-rotate(1turn);
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: #1D1E22;
    background: repeating-linear-gradient(135deg, hsl(0 0% 8%) 0 20px, hsl(0 0% 10%) 0 40px);
  }
  